@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #e2e2e2;
    font-family: 'montserrat';
}